---
import { getLocaleInfo, translateFor } from "@/i18n/utils";
import IconCalendar from "@/assets/icons/IconCalendar.svg";

export interface Props {
  class?: string;
  size?: "sm" | "lg";
  timezone?: string;
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
}

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
} = Astro.props;

const currentLocale = Astro.currentLocale;
const LOCALE = getLocaleInfo(currentLocale);
const t = translateFor(currentLocale);

/* ========== Formatted Datetime ========== */
const latestDatetime =
  modDatetime && new Date(modDatetime) > new Date(pubDatetime)
    ? modDatetime
    : pubDatetime;

const dateObj = new Date(latestDatetime);

// DATA: Formatação nativa flexível
// Ex pt-BR: "25 de jan. de 2025" ou "25 de janeiro de 2025"
const date = new Intl.DateTimeFormat(LOCALE.langTag, {
  year: "numeric",
  month: "short",
  day: "numeric",
}).format(dateObj);

// HORA: Formatação nativa
// Usa AM/PM se o idioma for inglês, ou 24h para outros
const time = new Intl.DateTimeFormat(LOCALE.langTag, {
  hour: "2-digit",
  minute: "2-digit",
  hour12: currentLocale === "en",
}).format(dateObj);

// ISO String para tag <time>
const isoString = dateObj.toISOString();
---

<div class:list={["flex items-end space-x-2 opacity-80", className]}>
  <IconCalendar
    class:list={[
      "inline-block size-6 min-w-[1.375rem]",
      { "scale-90": size === "sm" },
    ]}
  />
  {
    modDatetime && new Date(modDatetime) > new Date(pubDatetime) ? (
      <span class:list={["text-sm italic", { "sm:text-base": size === "lg" }]}>
        {t("date.updated")}:
      </span>
    ) : (
      <span class="sr-only">{t("date.published")}:</span>
    )
  }
  <span class:list={["text-sm italic", { "sm:text-base": size === "lg" }]}>
    <time datetime={isoString}>{date}</time>
    <span aria-hidden="true"> | </span>
    <span class="sr-only">&nbsp;at&nbsp;</span>
    <span class="text-nowrap">{time}</span>
  </span>
</div>
