name: CI Pipeline

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/deploy.yml"
      - "src/**"
      - "public/**"
      - "astro.config.ts"
      - "tsconfig.json"
      - "eslint.config.mjs"
      - "remark-collapse.d.ts"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  code_quality:
    uses: ./.github/workflows/code-standards-checks.yml

  unit-tests:
    uses: ./.github/workflows/tests.yml
